# .env.example
# Скопируйте этот файл в .env и замените значения на свои

# Пароль для root пользователя MySQL
MYSQL_ROOT_PASSWORD=your_root_password_here

# Данные для пользователя репликации
MYSQL_REPL_USER=repl
MYSQL_REPL_PASSWORD=your_repl_password_here